@use "../variables/global" as *;

$modal-prefix: "#{$prefix}-modal" !default;

$modal-gallery-prefix: "#{$prefix}-gallery-modal" !default;

$modal-gallery-width: 900px !default;

$modal-gallery-inner-height: auto !default;
$modal-gallery-inner-padding: 40px !default;

$modal-gallery-inner-padding: 0 !default;

$modal-gallery-left-col-width: 48% !default;
$modal-gallery-left-col-padding: 0 0.75rem 0 1rem !default;

$modal-gallery-image-list-padding: 0.75rem 0 0 0 !default;
$modal-gallery-image-list-margin-x: -0.5rem;

$modal-gallery-image-col-width: 25% !default;
$modal-gallery-image-col-padding: 0 (-($modal-gallery-image-list-margin-x)) !default;

$modal-gallery-right-col-width: calc(100% - $modal-gallery-left-col-width) !default;
$modal-gallery-right-col-padding: 0 1rem 0 0.75rem !default;

$modal-gallery-title-font-size: 1.5rem !default;
$modal-gallery-title-line-height: 1.1 !default;
$modal-gallery-title-font-weight: 600 !default;

$modal-gallery-description-font-size: 1rem !default;
$modal-gallery-description-line-height: 1.5 !default;
$modal-gallery-description-font-weight: 600 !default;

$modal-gallery-close-width: 5rem !default;
$modal-gallery-close-height: 5rem !default;
$modal-gallery-close-top: -2.5rem !default;
$modal-gallery-close-right: -2.5rem !default;
$modal-gallery-close-padding: 1rem;