@use "~bootstrap/scss/bootstrap";
@use "../variables/global" as *;

@mixin custom-select2-default() {
  .select2-container {
    @extend .form-select;

    width: auto;

    .select2-selection {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      height: auto;
  
      background: none;
      border: none;

      &--multiple {
        min-height: auto;
        border: none;
        padding: 0;
        .select2-selection__choice {
          box-sizing: border-box;
          border: 1px inset #aaa;
          margin: 0;
          font-size: 0.875rem;
        }
        .select2-selection__choice:not(:first-of-type) {
          margin-left: 5px;
        }
      }

      .select2-selection__rendered {
        padding: 0;
        margin: 0;

        line-height: inherit;
        color: inherit;
      }

      .select2-selection__arrow {
        display: none;
      }
    }

    .select2-dropdown {
      border-color: inherit;
      left: -1px;
    }

    
  }

}
